@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');

input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-contacts-auto-fill-button {
  display: none;
}


* {
  font-family: 'Lexend Deca', sans-serif;
}

#icon.hide {
  background: url('src/assets/olho-fechado.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.25s ease-in all;
}


